<table id="datatablesSimple">
  <thead>
    <tr>
      <th>Occupation</th>
      <th>Company</th>
      <th>Starting Year</th>
      <th>Ending Year</th>
      <th>Desc</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% if(Experience.length > 0){ %> <% Experience.forEach(experience =>{ %>
      <td><%= experience.Position %></td>
      <td><%= experience.Company %></td>
      <td><%= experience.StartYear %></td>
      <td><%= experience.EndYear %></td>
      <td><%= experience.Desc %></td>
      <td>
        <a
          href="/viewexperience/delete/<%= experience._id %>"
          class="btn btn-outline-danger mx-3"
          ><i class="fa-solid fa-trash"></i
        ></a>
        <a
          href="/viewexperience/edit/<%= experience._id %>"
          class="btn btn-outline-info mx-3"
          ><i class="fa-solid fa-pen-to-square"></i
        ></a>
      </td>
    </tr>
    <% })}else{ %>
    <tr>
      <td colspan="6"><h3>No Experience Found</h3></td>
    </tr>
    <% }%>
  </tbody>
</table>
