<section class="py-5 wow fadeInUp" data-wow-delay="0.1s">
  <h1 class="title pb-3 mb-5">Education</h1>
  <div class="border-start border-2 border-light pt-2 ps-5">
    <%if(Education.length>0){%> <% Education.map(education => { %>
    <div class="position-relative mb-4">
      <span
        class="bi bi-arrow-right fs-4 text-light position-absolute"
        style="top: -5px; left: -50px"
      ></span>
      <h5 class="mb-1"><%= education.Name%></h5>
      <p class="mb-2">
        <%= education.Degree%> |
        <small><%= education.From%> - <%= education.Till%></small>
      </p>
      <p>Field of Study: <%= education.Subject%></p>
      <p>Grade Secured: <%= education.Grade%></p>
    </div>
    <% })} %>
  </div>
</section>
