<section class="py-5 wow fadeInUp" data-wow-delay="0.1s">
  <h1 class="title pb-3 mb-5">Experience</h1>
  <div class="border-start border-2 border-light pt-2 ps-5">
    <%if(Experience.length>0){%> <% Experience.map(experience => { %>
    <div class="position-relative mb-4">
      <span
        class="bi bi-arrow-right fs-4 text-light position-absolute"
        style="top: -5px; left: -50px"
      ></span>
      <h5 class="mb-1"><%= experience.Position%></h5>
      <p class="mb-2">
        <%= experience.Company%> |
        <small><%= experience.StartYear%> - <%= experience.EndYear%></small>
      </p>
      <p><%= experience.Desc%></p>
    </div>
    <% })} %>
  </div>
</section>
