<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>

<body class="sb-nav-fixed">
  <%- include("../partials/navbar")%>
  <div id="layoutSidenav">
    <%- include("../partials/sidebar")%>
    <div id="layoutSidenav_content">
      <main>
        <div class="container-fluid px-4">
          <h1 class="mt-4">View BioData</h1>
          <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item">
              <a href="/admin/home">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">View BioData</li>
          </ol>
          <div class="card mb-4">
            <!-- Flash Message -->
            <% if(bio_toast !='' ){ %>
            <% bio_toast.forEach(msg=>{%>
            <div class="alert alert-<%= msg.type%> text-center alert-dismissible fade show" role="alert">
              <%= msg.message%>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <%})}%>
            <div class="card-header">
              <i class="fas fa-table me-1"></i>
              View Bio Data
            </div>
            <div class="card-body">
              <%- include("../partials/BioData/viewBioData") %>
            </div>
          </div>
        </div>
      </main>
      <%- include("../partials/footer")%>
    </div>
  </div>
  <%- include("../partials/script")%>
</body>

</html>