<% if(Certifications.length> 0){ %>
<table id="datatablesSimple">
  <thead>
    <tr>
      <th>Name</th>
      <th>Issuer</th>
      <th>IssueYear</th>
      <th>Desc</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%Certifications.forEach(certifications=>{%>
    <tr>
      <td><%= certifications.Name %></td>
      <td><%= certifications.Issuer %></td>
      <td><%= certifications.IssueYear %></td>
      <td><%= certifications.Desc %></td>
      <td>
        <a href="/viewcertifications/<%= certifications._id %>" class="btn btn-outline-danger mx-3"><i class="fa-solid fa-trash"></i></a>
      </td>
    </tr>
    <%})%>
  </tbody>
</table>
<% }else{%>
<h3>No Certifications Added</h3>
<%}%>