<% Social.map(social => { %>
<div class="row mb-4">
  <div class="col-sm-6 py-1">
    <span class="fw-medium text-primary">Facebook:</span> <%= social.Facebook %>
  </div>
  <div class="col-sm-6 py-1">
    <span class="fw-medium text-primary">Instagram:</span> <%= social.Instagram
    %>
  </div>
  <div class="col-sm-6 py-1">
    <span class="fw-medium text-primary">LinkedIn:</span> <%= social.LinkedIn %>
  </div>
  <div class="col-sm-6 py-1">
    <span class="fw-medium text-primary">Github:</span> <%= social.Github %>
  </div>
</div>
<a href="/viewsocial/<%= social._id %>" class="btn btn-outline-danger mx-3"
  >Delete</a
>
<%})%>
