<% if(Education.length > 0){ %>
<table id="datatablesSimple">
  <thead>
    <tr>
      <th>Institute Name</th>
      <th>Starting Year</th>
      <th>Ending Year</th>
      <th>Degree</th>
      <th>Field of Study</th>
      <th>Grade</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% Education.forEach(education =>{ %>
      <td><%= education.Name %></td>
      <td><%= education.From %></td>
      <td><%= education.Till %></td>
      <td><%= education.Degree %></td>
      <td><%= education.Subject %></td>
      <td><%= education.Grade %></td>
      <td>
        <a
          href="/admin/vieweducation/<%= education._id %>"
          class="btn btn-outline-danger mx-3"
          ><i class="fa-solid fa-trash"></i
        ></a>
      </td>
    </tr>
    <%})%>
  </tbody>
</table>
<% }else{%>
<h3>No Education Added</h3>
<%}%>
